@use 'sass:color';

@import './colors.scss';

:root {
  font-family: Arial, Helvetica, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--font-color);
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-color: rgba(255, 255, 255, 0.87);

  box-sizing: border-box;
}

*::selection {
  // background-color: color.change($accent-color, $lightness: 90%);
  // color: $background-color;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  text-wrap: nowrap;
}

a {
  color: $accent-color;
  text-decoration: inherit;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: darken($accent-color, 10%);
    }
  }
}


hr {
  border: 0;
  border-top: 1px solid #353535;
  margin: 2em 0;
}

br {
  display: block;
  margin: 1em 0;
}

body {
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow-y: hidden;
  }
}


$width-limit: 1000px;

h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;

  @media screen and (max-width: $width-limit) {
    font-size: 2.8em;
  }

  @media screen and (max-width: 512px) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 3em;
  line-height: 1.4;
  margin: 0;
  font-weight: 600;

  @media screen and (max-width: $width-limit) {
    font-size: 2em;
  }

  @media screen and (max-width: 512px) {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 1.8em;
  line-height: 1.3;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: $width-limit) {
    font-size: 1.2em;
  }

  @media screen and (max-width: 512px) {
    font-size: 1.1em;
  }
}

h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;

  @media screen and (max-width: $width-limit) {
    font-size: 1.1em;
  }

  @media screen and (max-width: 512px) {
    font-size: 1em;
  }
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0;

  @media screen and (max-width: 512px) {
    font-size: 1em;
  }
}

.gray {
  color: $large-color;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: inherit;
  transition: border-color 0.25s;

  @media (hover: hover) {
    &:hover {
      border-color: $accent-color;
    }
  }

  &:disabled {
    background-color: #1a1a1a;
    color: #666;
    cursor: not-allowed;
    border-color: transparent
  }
}


button:focus,
button:focus-visible {
  outline: none;
}

select:focus,
select:focus-visible {
  outline: none;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;

  &.hor {
    flex-direction: row;
  }
}

.flex-1 {
  flex: 1;
}

.m-0 {
  margin: 0;
}

.card {
  background-color: $background-secondary;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

code {
  font-size: .8em;
  background-color: $background-secondary;
  border-radius: 0.375em;
  padding: 0.08em 0.375em;
  display: inline-block;
  border: 1px solid #4b4b4b;
  color: var(--font-color);
  font-weight: 600;
}